Import the pandas and numpy libraries, which are essential for data manipulation, cleaning, and performing numerical operations throughout the preprocessing workflow. These libraries provide the foundation for all subsequent data handling steps.

In [13]:
import pandas as pd
import numpy as np

Load the raw diabetes dataset from the CSV file into a pandas DataFrame. This is the initial step in the data pipeline, providing access to all patient records and features for further cleaning and analysis.

In [14]:
df = pd.read_csv("diabetes_data.csv")

C:\Users\Aavash\AppData\Local\Temp\ipykernel_26680\2974541540.py:1: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("diabetes_data.csv")

Define a function to generate a comprehensive report of missing (null) values in the DataFrame, including both the count and percentage of missing values for each column. This helps identify problematic features that may require special handling.

In [15]:
def null_report(df):
    null_counts = df.isnull().sum()
    null_percent = (df.isnull().sum() / len(df)) * 100
    return pd.DataFrame({'Null Count': null_counts, 'Null Percentage': null_percent.round(2)})

Display the value counts for the 'gender' column to inspect its distribution and identify any anomalies or unexpected categories, such as unknown or invalid entries.

In [16]:
df['gender'].value_counts()

gender
Female             54708
Male               47055
Unknown/Invalid        3
Name: count, dtype: int64

Replace 'Unknown/Invalid' values in the 'gender' column with NaN to mark them as missing. This ensures that invalid gender entries are handled consistently during data cleaning.

In [17]:
df['gender'] = df['gender'].replace(to_replace='Unknown/Invalid', value=np.nan)

Generate a null value report to check the effect of the previous cleaning steps and to reassess the extent of missing data in the DataFrame.

In [18]:
null_report(df)

                          Null Count  Null Percentage
encounter_id                       0             0.00
patient_nbr                        0             0.00
race                            2273             2.23
gender                             3             0.00
age                                0             0.00
weight                         98569            96.86
admission_type_id                  0             0.00
discharge_disposition_id           0             0.00
admission_source_id                0             0.00
time_in_hospital                   0             0.00
payer_code                     40256            39.56
medical_specialty              49949            49.08
num_lab_procedures                 0             0.00
num_procedures                     0             0.00
num_medications                    0             0.00
number_outpatient                  0             0.00
number_emergency                   0             0.00
number_inpatient                   0             0.00
diag_1                            21             0.02
diag_2                           358             0.35
diag_3                          1423             1.40
number_diagnoses                   0             0.00
max_glu_serum                  96420            94.75
A1Cresult                      84748            83.28
metformin                          0             0.00
repaglinide                        0             0.00
nateglinide                        0             0.00
chlorpropamide                     0             0.00
glimepiride                        0             0.00
acetohexamide                      0             0.00
glipizide                          0             0.00
glyburide                          0             0.00
tolbutamide                        0             0.00
pioglitazone                       0             0.00
rosiglitazone                      0             0.00
acarbose                           0             0.00
miglitol                           0             0.00
troglitazone                       0             0.00
tolazamide                         0             0.00
examide                            0             0.00
citoglipton                        0             0.00
insulin                            0             0.00
glyburide-metformin                0             0.00
glipizide-metformin                0             0.00
glimepiride-pioglitazone           0             0.00
metformin-rosiglitazone            0             0.00
metformin-pioglitazone             0             0.00
change                             0             0.00
diabetesMed                        0             0.00
readmitted                         0             0.00

Drop columns with excessive missing values ('weight', 'medical_specialty', and 'payer_code') to improve data quality and reduce noise in subsequent analyses.

In [19]:
df = df.drop(['weight', 'medical_specialty', 'payer_code'], axis=1) # Dropping columns with too many null values

Drop rows where any of the key columns ('race', 'gender', 'diag_1', 'diag_2', 'diag_3') have missing values. This step ensures that only complete records are retained for critical features.

In [20]:
df = df.dropna(subset=['race', 'gender', 'diag_1', 'diag_2', 'diag_3']) # Dropping rows with null values

Fill missing values in 'max_glu_serum' and 'A1Cresult' columns with 'Not Taken', indicating that these tests were not performed for those patients.

In [21]:
df['max_glu_serum'] = df['max_glu_serum'].fillna('Not Taken')
df['A1Cresult'] = df['A1Cresult'].fillna('Not Taken')

Check for remaining missing values after the previous cleaning steps to confirm that the dataset is now suitable for further processing.

In [22]:
null_report(df)

                          Null Count  Null Percentage
encounter_id                       0              0.0
patient_nbr                        0              0.0
race                               0              0.0
gender                             0              0.0
age                                0              0.0
admission_type_id                  0              0.0
discharge_disposition_id           0              0.0
admission_source_id                0              0.0
time_in_hospital                   0              0.0
num_lab_procedures                 0              0.0
num_procedures                     0              0.0
num_medications                    0              0.0
number_outpatient                  0              0.0
number_emergency                   0              0.0
number_inpatient                   0              0.0
diag_1                             0              0.0
diag_2                             0              0.0
diag_3                             0              0.0
number_diagnoses                   0              0.0
max_glu_serum                      0              0.0
A1Cresult                          0              0.0
metformin                          0              0.0
repaglinide                        0              0.0
nateglinide                        0              0.0
chlorpropamide                     0              0.0
glimepiride                        0              0.0
acetohexamide                      0              0.0
glipizide                          0              0.0
glyburide                          0              0.0
tolbutamide                        0              0.0
pioglitazone                       0              0.0
rosiglitazone                      0              0.0
acarbose                           0              0.0
miglitol                           0              0.0
troglitazone                       0              0.0
tolazamide                         0              0.0
examide                            0              0.0
citoglipton                        0              0.0
insulin                            0              0.0
glyburide-metformin                0              0.0
glipizide-metformin                0              0.0
glimepiride-pioglitazone           0              0.0
metformin-rosiglitazone            0              0.0
metformin-pioglitazone             0              0.0
change                             0              0.0
diabetesMed                        0              0.0
readmitted                         0              0.0

Display the number of unique values in each column to understand the diversity and cardinality of categorical and numerical features, which is important for feature engineering.

In [23]:
df.nunique()

encounter_id                98052
patient_nbr                 68629
race                            5
gender                          2
age                            10
admission_type_id               8
discharge_disposition_id       26
admission_source_id            17
time_in_hospital               14
num_lab_procedures            118
num_procedures                  7
num_medications                75
number_outpatient              39
number_emergency               33
number_inpatient               20
diag_1                        713
diag_2                        740
diag_3                        786
number_diagnoses               14
max_glu_serum                   4
A1Cresult                       4
metformin                       4
repaglinide                     4
nateglinide                     4
chlorpropamide                  4
glimepiride                     4
acetohexamide                   2
glipizide                       4
glyburide                       4
tolbutamide                     2
pioglitazone                    4
rosiglitazone                   4
acarbose                        4
miglitol                        4
troglitazone                    2
tolazamide                      3
examide                         1
citoglipton                     1
insulin                         4
glyburide-metformin             4
glipizide-metformin             2
glimepiride-pioglitazone        2
metformin-rosiglitazone         1
metformin-pioglitazone          2
change                          2
diabetesMed                     2
readmitted                      3
dtype: int64

Display the number of unique values in each column again (possibly for comparison after cleaning) to verify the impact of previous cleaning steps on feature diversity.

In [24]:
df.nunique()

encounter_id                98052
patient_nbr                 68629
race                            5
gender                          2
age                            10
admission_type_id               8
discharge_disposition_id       26
admission_source_id            17
time_in_hospital               14
num_lab_procedures            118
num_procedures                  7
num_medications                75
number_outpatient              39
number_emergency               33
number_inpatient               20
diag_1                        713
diag_2                        740
diag_3                        786
number_diagnoses               14
max_glu_serum                   4
A1Cresult                       4
metformin                       4
repaglinide                     4
nateglinide                     4
chlorpropamide                  4
glimepiride                     4
acetohexamide                   2
glipizide                       4
glyburide                       4
tolbutamide                     2
pioglitazone                    4
rosiglitazone                   4
acarbose                        4
miglitol                        4
troglitazone                    2
tolazamide                      3
examide                         1
citoglipton                     1
insulin                         4
glyburide-metformin             4
glipizide-metformin             2
glimepiride-pioglitazone        2
metformin-rosiglitazone         1
metformin-pioglitazone          2
change                          2
diabetesMed                     2
readmitted                      3
dtype: int64

Drop columns 'citoglipton', 'metformin-rosiglitazone', and 'examide' as they are not useful for analysis, either due to low variance or irrelevance to the modeling task.

In [36]:
df = df.drop(['citoglipton', 'metformin-rosiglitazone', 'examide'], axis=1)

Show the current shape (number of rows and columns) of the DataFrame after dropping unnecessary columns, providing a snapshot of the dataset size at this stage.

In [37]:
df.shape

(67576, 45)

Remove duplicate patient records based on 'patient_nbr', keeping only the first occurrence. This ensures that each patient is represented only once in the dataset, which is important for unbiased analysis.

In [38]:
df = df.drop_duplicates(subset=["patient_nbr"], keep="first")
df.shape

(67576, 45)

Create a new feature 'numchange' that counts the number of diabetes-related medications that have changed or increased for each patient. This feature captures the intensity of medication adjustments during the patient's care.

In [39]:
keys = ['metformin', 'repaglinide', 'nateglinide', 'chlorpropamide', 'glimepiride', 'glipizide', 'glyburide', 'pioglitazone',
        'rosiglitazone', 'acarbose', 'miglitol', 'insulin', 'glyburide-metformin', 'tolazamide', 'metformin-pioglitazone',
        'glimepiride-pioglitazone', 'glipizide-metformin', 'troglitazone', 'tolbutamide', 'acetohexamide']

for col in keys:
    colname = str(col) + 'temp'
    df[colname] = df[col].apply(lambda x: 0 if (x == 'No' or x == 'Steady') else 1)

df['numchange'] = 0

for col in keys:
    colname = str(col) + 'temp'
    df['numchange'] = df['numchange'] + df[colname]
    del df[colname]

df['numchange'].value_counts()

numchange
0    50898
1    15702
2      900
3       73
4        3
Name: count, dtype: int64

Set pandas option for future behavior, and encode 'change', 'gender', and 'diabetesMed' columns as integers for modeling. This step prepares categorical variables for machine learning algorithms that require numeric input.

In [40]:
# set the future behavior option
pd.set_option('future.no_silent_downcasting', True)

df['change'] = df['change'].replace({'Ch': 1, 'No': 0}).astype(int)
df['gender'] = df['gender'].replace({'Male': 1, 'Female': 0}).astype(int)
df['diabetesMed'] = df['diabetesMed'].replace({'Yes': 1, 'No': 0}).astype(int)

Encode 'A1Cresult' and 'max_glu_serum' columns into integers: 1 for high, 0 for normal, and -99 for not taken or missing. This transformation standardizes lab result features for easier analysis and modeling.

In [41]:
df['A1Cresult'] = df['A1Cresult'].replace({
    '>7': 1,
    '>8': 1,
    'Norm': 0,
    'None': -99,
    'Not Taken': -99
}).astype(int)

df['max_glu_serum'] = df['max_glu_serum'].replace({
    '>200': 1,
    '>300': 1,
    'Norm': 0,
    'None': -99,
    'Not Taken': -99
}).astype(int)

Map age ranges to integer values for easier analysis and display the distribution of the new 'age' feature. This step converts categorical age bins into ordinal values, facilitating numerical analysis.

In [42]:
# Create a mapping dictionary for age ranges
age_mapping = {
    f'[{10*i}-{10*(i+1)})': i+1 for i in range(10)
}

df['age'] = df['age'].replace(age_mapping).astype(int)

df['age'].value_counts().sort_index()

age
1        63
2       357
3      1004
4      2519
5      6494
6     11903
7     15226
8     17331
9     10930
10     1749
Name: count, dtype: int64

Display the value counts for the 'readmitted' column to inspect its distribution and understand the prevalence of readmission events in the dataset.

In [43]:
df['readmitted'].value_counts()

readmitted
0    61450
1     6126
Name: count, dtype: int64

Encode the 'readmitted' column: 1 for readmitted within 30 days, 0 otherwise, and show the new distribution. This binary encoding is essential for supervised learning tasks.

In [44]:
df['readmitted'] = df['readmitted'].replace({'NO': 0, '<30': 1, '>30': 0}).astype(int)
df['readmitted'].value_counts()

readmitted
0    61450
1     6126
Name: count, dtype: int64

Clean and group values in 'discharge_disposition_id', 'admission_type_id', and 'admission_source_id' columns using mapping dictionaries. This reduces the complexity of these features and groups similar categories for better modeling.

In [45]:
df = df[df['discharge_disposition_id'] != 11]

df["admission_type_id"] = df["admission_type_id"].replace({2: 1, 7: 1, 6: 5, 8: 5}).astype(int)

discharge_mappings = {
    6: 1,
    8: 1,
    9: 1,
    13: 1,
    3: 2,
    4: 2,
    5: 2,
    14: 2,
    22: 2,
    23: 2,
    24: 2,
    12: 10,
    15: 10,
    16: 10,
    17: 10,
    25: 18,
    26: 18,
}

df['discharge_disposition_id'] = df['discharge_disposition_id'].replace(discharge_mappings).astype(int)

admission_mappings = {
    2: 1,
    3: 1,
    5: 4,
    6: 4,
    10: 4,
    22: 4,
    25: 4,
    15: 9,
    17: 9,
    20: 9,
    21: 9,
    13: 11,
    14: 11,
}

df['admission_source_id'] = df['admission_source_id'].replace(admission_mappings).astype(int)

Group diagnosis codes ('diag_1', 'diag_2', 'diag_3') into 9 clinical categories for simplified analysis. This step transforms complex ICD codes into interpretable clinical groups.

In [46]:
# Group the diagnosis codes into 9 clinical categories
diag_cols = ['diag_1', 'diag_2', 'diag_3']

for col in diag_cols:
    # Only apply string operations if dtype is object (string)
    if df[col].dtype == object:
        df.loc[df[col].str.contains('V', na=False), col] = -1  # Other
        df.loc[df[col].str.contains('E', na=False), col] = -1  # Other
    # Convert to numeric, set errors to -1
    df[col] = pd.to_numeric(df[col], errors='coerce').fillna(-1).astype(int)

for col in diag_cols:
    # Circulatory
    df.loc[((df[col] >= 390) & (df[col] < 460)) | (df[col] == 785), col] = 1
    # Respiratory
    df.loc[((df[col] >= 460) & (df[col] < 520)) | (df[col] == 786), col] = 2
    # Digestive
    df.loc[((df[col] >= 520) & (df[col] < 580)) | (df[col] == 787), col] = 3
    # Diabetes
    df.loc[df[col] == 250, col] = 4
    # Injury
    df.loc[(df[col] >= 800) & (df[col] < 1000), col] = 5
    # Musculoskeletal
    df.loc[(df[col] >= 710) & (df[col] < 740), col] = 6
    # Genitourinary
    df.loc[((df[col] >= 580) & (df[col] < 630)) | (df[col] == 788), col] = 7
    # Neoplasms
    df.loc[(df[col] >= 140) & (df[col] < 240), col] = 8
    # All other codes are grouped into 'Other'
    df.loc[(df[col] > 0) & (df[col] != 1) & (df[col] != 2) & (df[col] != 3) & (df[col] != 4) & (df[col] != 5) & (df[col] != 6) & (df[col] != 7) & (df[col] != 8), col] = 9  # Other

Show the final shape of the DataFrame after all preprocessing steps, providing a summary of the cleaned dataset ready for feature engineering and modeling.

In [47]:
df.shape

(67576, 45)

Create a new feature 'hba1c_attention' to summarize A1C result and change status for each patient. This feature highlights patients with poor glycemic control and whether their treatment was adjusted.

In [48]:
def create_hba1c_feature(row):
    a1c = row['A1Cresult']
    change = row['change']
    # Note: Your A1Cresult encoding is 1 for high, 0 for norm, -99 for not taken
    if a1c == -99:
        return 'Not Measured'
    elif a1c == 0:
        return 'Normal'
    elif a1c == 1 and change == 0:
        return 'High, Not Changed'
    elif a1c == 1 and change == 1:
        return 'High, Changed'
    return 'Other' # Fallback

df['hba1c_attention'] = df.apply(create_hba1c_feature, axis=1)

Create a 'comorbidity_score' feature that counts the number of non-diabetes, non-missing comorbidities for each patient. This provides a quantitative measure of patient complexity and health burden.

In [49]:
def calculate_comorbidity(row):
    # We assume diag 4 is 'Diabetes'
    diagnoses = {row['diag_1'], row['diag_2'], row['diag_3']}
    # Remove -1 (missing) and 4 (diabetes) to count other conditions
    comorbidities = diagnoses - {-1, 4}
    return len(comorbidities)

df['comorbidity_score'] = df.apply(calculate_comorbidity, axis=1)

Create a 'prior_utilization' feature by summing outpatient, emergency, and inpatient visits for each patient. This feature reflects the patient's prior healthcare usage, which may be predictive of future readmissions.

In [50]:
df['prior_utilization'] = df['number_outpatient'] + df['number_emergency'] + df['number_inpatient']

Save the cleaned and processed DataFrame to a new CSV file for further analysis or modeling. This marks the completion of the preprocessing pipeline.

In [51]:
df.to_csv("processed_diabetes_data.csv", index=False)